Source: tsvtree
Maintainer: Marcelo Zimbres Silva <mzimbres@gmail.com>
Section: devel
Priority: optional
Build-Depends: debhelper (>=11~), libboost-program-options-dev, nlohmann-json3-dev
Standards-Version: 4.1.4
Homepage: https://github.com/mzimbres/tsvtree

Package: tsvtree
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: tsvtree (<< 1.0.0-1)
Description: Tool to analyse tsv files.
 Tool to display and analyse TSV data.
 .
 tsvtree is a command line tool to display and analyse TSV (Tab Separated
 Value) files. It can be seen as a complement to text processing tools like
 awk, cut, column, tac etc.
