Source: tsvtree
Maintainer: Marcelo Zimbres Silva <mzimbres@gmail.com>
Section: devel
Priority: optional
Build-Depends: debhelper (>=11~), debhelper-compat (=12), libboost-program-options-dev, nlohmann-json3-dev
Standards-Version: 4.5.0
Homepage: https://github.com/mzimbres/tsvtree
Vcs-Browser: https://github.com/mzimbres/tsvtree
Vcs-Git: https://github.com/mzimbres/tsvtree.git
Rules-Requires-Root: binary-targets

Package: tsvtree
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: tsvtree (<< 1.0.0-1)
Description: Tool to analyse tsv files.
 Command line tool to display and compress TSV data in tree format
 .
 tsvtree is a command line tool to display and compress TSV (Tab Separated
 Value) in tree format. It can be seen as a complement to text processing
 tools like awk, cut, column, tac etc.
